* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.l-left-col {
    width: 90%;
    float: left;
}

.b-left {
    width: 50%;
    float: left;
}

.b-right {
    width: 30%;
    float: right;
}

a:visited {
    color: black;
}

a:link {
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ulist > li > a {
    font-size: 1.5em;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-top: 5px;;;
}

.b-left .ulist li:first-child {
    font-size: 1.4em;
    font-weight: bold;
}

.mod h3 {
    position: relative;
    padding-right: 5px;
    font: 400 20px/26px "Microsoft YaHei",\5FAE\8F6F\96C5\9ED1,tahoma;
    color: #069;
    background: #fff;
    text-align: left;
}

.ulist2 li {
    padding: 4px 0;
    padding-right: 12px;
    border-bottom: 1px dotted #ccc;
    background: url(//gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/static/fisp_static/sportnews/img/col_focus/sp_icon_s_arr_30fed05.png) no-repeat right 14px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}

.ulist2 a {
    font-size: 1.5em;
    color: black;
}
.mod2 .ulist2 a{
    font-size: 12px;
}

.schedule {
    margin-top: 20px;
    border-top: 1px solid #eeeff1;
    border-left: 1px solid #eeeff1;
    width: 238px;
}

.schedule ul li {
    float: left;
    width: 80px;
    height: 40px;
    padding-left: 26px;
    padding-right: 12px;
    border-right: 1px solid #eeeff1;
    border-bottom: 1px solid #eeeff1;
    background: url(//gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/static/fisp_static/sportnews/img/col_focus/sp_icon_menu_ae353cd.png) no-repeat 10px 12px;
}

.schedule ul li a {
    display: block;
    line-height: 40px;
    padding-right: 5px;
    font-size: 14px;
    background: url(//gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/static/fisp_static/sportnews/img/col_focus/sp_icon_s_arr_30fed05.png) no-repeat right 16px;
}

.column {
    /* margin-top: 10px; */
    margin: 12px 0;
    margin-bottom: 36px;
}

/* 国际足球 */

.inter-football{
    float: left;
}

.column-title{
    padding-bottom: 9px;
    text-align: right;
}

.column-title .column-title-border{
    border-bottom: 1px solid #ececec;
    border-top: 2px solid #c7c7c7;
    height: 52px;
    line-height: 52px;
}

.column-title .column-title-border h2 {
    position: relative;
    top: -2px;
    float: left;
    padding: 6px 5px 0 0;
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    font-family: Microsoft YaHei,\5FAE\8F6F\96C5\9ED1,\9ED1\4F53;
    color: #069;
    border-top: 2px solid #069;
    text-align: left;
    margin-left: 12px;
}

.column-title h2 .subtitle {
    padding-right: 5px;
}

.column-title .column-title-border h2 .cname {
    display: block;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    font-family: arial,sans-serif;
    color: #999;
    text-transform: uppercase;
}

#latest-news .ulist {
    float: left;
    width: 40%;
    margin-bottom: 36px;
}

