<!--
 * @Author: 华豪
 * @Date: 2019-11-27 16:01:51
 * @E-Mail: hh@huahaohh.cn
 * @LastEditors: 华豪
 * @LastEditTime: 2019-12-05 21:46:06
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>娱乐</title>
    <link rel="stylesheet" href="static/css/bgsize.css" />		
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/shutter.css">
    <link rel="stylesheet" href="static/css/sports.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/china.css">
    <link rel="stylesheet" href="static/css/entertainment.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/velocity.js"></script>
    <script src="static/js/shutter.js"></script> 
    <script src="static/js/su.js"></script>
    <script src="static/js/heart_click.js"></script>
    <script>
    $(function () {
    $('.shutter').shutter({
        shutterW: 665, // 容器宽度
        shutterH: 340, // 容器高度
        isAutoPlay: true, // 是否自动播放
        playInterval: 3000, // 自动播放时间
        curDisplay: 3, // 当前显示页
        fullPage: false // 是否全屏展示
    });
    });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($){
        $('body').wpSuperSnow({
        flakes: ['static/images/007.png','static/images/006.png','static/images/004.png','static/images/003.png','static/images/002.png','static/images/001.png'],
        totalFlakes: '150',
        zIndex: '999999',
        maxSize: '30',
        maxDuration: '20',
        useFlakeTrans: false
        });
        });
    </script>
</head>
<body background="/static/images/background.jpg" style="background-attachment: fixed;">
    <div class="contaiter">		
        <!--下面是导航菜单-->
        <div class="navigator" >
            <ul id="nav">
                <li><a href="/">首页</a></li> &nbsp;&nbsp;
                <li><a href="china">国内</a></li>&nbsp;&nbsp;
                <li><a href="international">国际</a></li>&nbsp;&nbsp;
                <li><a href="entertainment" class="selected">娱乐</a></li>&nbsp;&nbsp;
                <li><a href="sports">体育</a></li>&nbsp;&nbsp;
                <li><a href="technology">科技</a></li>&nbsp;&nbsp;
                <li><a href="military">军事</a></li>&nbsp;&nbsp;
            </ul>
        </div>
        <div id="body" style="margin-top: 10px;">
            <div class="column clearfix" id="col_toparea">
            <!--下面是图片轮换-->
                <div class="shutter toparea-carousel">
                    <div class="imgplayer clearfix" id="imgplayer">
                        <div class="shutter-img">
                            {% for img_news in img_news %}
                                <a href="{{ img_news.urls }}" data-shutter-title="{{ img_news.titles }}" target="_blank" style="cursor: pointer;"><img src="{{ img_news.imgurls }}"></a>
                            {% endfor %}
                        </div>
                        <ul class="shutter-btn">
                            <li class="prev"></li>
                            <li class="next"></li>
                        </ul>
                        <!-- 设置默认第一张 -->
                        <div class="shutter-desc">  
                            <a href="{{ img_news.3.urls }}" target="_blank"><p>{{ img_news.3.titles }}</p></a>
                        </div>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                即时新闻
                                <span class="dec">INSTANT NEWS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="instant-news">
                                <ul class="ulist mix-ulist">
                                    {% if instant_news %}
                                    {% for news in instant_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_focus">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">焦点新闻</span>
                                <span class="cname">FOCAL NEWS</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if focal_news1 %}
                            {% for news in focal_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if focal_news2 %}
                            {% for news in focal_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if focal_pic_news %}
                            {% for news in focal_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="static/images/entertainment/{{ news.imgurls }}.jpg">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                百家专栏
                                <span class="dec">BAIJIA</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="focus-videos">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_stars">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">明星</span>
                                <span class="cname">STARS</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if star_news1 %}
                            {% for news in star_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if star_news2 %}
                            {% for news in star_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if star_news3 %}
                            {% for news in star_news3 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if star_pic_news %}
                            {% for news in star_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="static/images/entertainment/{{ news.imgurls }}.jpg">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                传闻爆料
                                <span class="dec">RUMOURS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="twms-news">
                                <ul class="ulist mix-ulist">
                                    {% if rumours_news %}
                                    {% for news in rumours_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mod" id="zongyi_video">
                        <div class="hd">
                            <h3>综艺视频</h3>
                        </div>
                        <div class="bd">
                            <div class="pic-list">
                                <ul>
                                    {% if variety_video_news %}
                                    {% for news in variety_video_news %}
                                        <li><a href="{{ news.urls }}" target="_blank">
                                            <img src="{{ news.imgurls }}">
                                            <span class="title">{{ news.titles }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_movie">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">电影</span>
                                <span class="cname">MOVIES</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if movie_news1 %}
                            {% for news in movie_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if movie_news2 %}
                            {% for news in movie_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if movie_pic_news %}
                            {% for news in movie_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="static/images/entertainment/{{ news.imgurls }}.jpg">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                电影花絮
                                <span class="dec">MOVIE FEATURES</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="historical-news">
                                <ul class="ulist mix-ulist">
                                    {% if movie_features_news %}
                                    {% for news in movie_features_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_tv">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">电视</span>
                                <span class="cname">TVS</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if TV_news1 %}
                            {% for news in TV_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if TV_news2 %}
                            {% for news in TV_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if TV_pic_news %}
                            {% for news in TV_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="static/images/entertainment/{{ news.imgurls }}.jpg">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                热门剧集
                                <span class="dec">HOT DRAMA SERIES</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="hotdramas">
                                <table>
                                    <tbody>
                                        {% for i in count %}
                                            <tr>
                                                <td class="n">
                                                    <a href="{{ i.0.urls }}" target="_blank">
                                                        {{ i.0.titles }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{ i.1.urls }}" target="_blank">
                                                        {{ i.1.titles }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{ i.2.urls }}" target="_blank">
                                                        {{ i.2.titles }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{ i.3.urls }}" target="_blank">
                                                        {{ i.3.titles }}
                                                    </a>
                                                </td>
                                                <td class="last">
                                                    <a href="{{ i.4.urls }}" target="_blank">
                                                        {{ i.4.titles }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="mod" id="hot_recommend">
                        <div class="hd">
                            <h3>
                                热门剧评
                                <span class="dec">HOT DRAMA COMMENTS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if hot_tv_comments_news %}
                                {% for news in hot_tv_comments_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_music">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">音乐</span>
                                <span class="cname">MUSICS</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if music_news1 %}
                            {% for news in music_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if music_news2 %}
                            {% for news in music_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if music_pic_news %}
                            {% for news in music_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="static/images/entertainment/{{ news.imgurls }}.jpg">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod" id="music_new_song">
                        <div class="hd">
                            <h3>
                                新歌
                                <span class="dec">NEW SONGS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div class="newsongs">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="n">歌曲名</th>
                                            <th class="s">歌手名</th>
                                            <th class="l">试听</th>
                                        </tr>
                                        {% for i,j in top_music_news %}
                                            <tr>
                                                <td class="n">
                                                    <a href="{{ i.urls }}" target="_blank">
                                                        {{ i.titles }}
                                                    </a>
                                                </td>
                                                <td class="s">  
                                                    <a href="{{ j.urls }}" target="_blank">
                                                        {{ j.titles }}
                                                    </a>
                                                </td>
                                                <td class="l">
                                                    <a href="{{ i.urls }}" target="_blank">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="mod" id="music_gold_song">
                        <div class="hd">
                            <h3>
                                中文金曲
                                <span class="dec">RANKING</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div class="newsongs">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="n">歌曲名</th>
                                            <th class="s">歌手名</th>
                                            <th class="l">试听</th>
                                        </tr>
                                        {% for i,j in china_music_news %}
                                            <tr>
                                                <td class="n">
                                                    <a href="{{ i.urls }}" target="_blank">
                                                        {{ i.titles }}
                                                    </a>
                                                </td>
                                                <td class="s">  
                                                    <a href="{{ j.urls }}" target="_blank">
                                                        {{ j.titles }}
                                                    </a>
                                                </td>
                                                <td class="l">
                                                    <a href="{{ i.urls }}" target="_blank">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_variety">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">综艺</span>
                                <span class="cname">VARIETIES</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if variety_news1 %}
                            {% for news in variety_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if variety_news2 %}
                            {% for news in variety_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if variety_pic_news %}
                            {% for news in variety_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="static/images/entertainment/{{ news.imgurls }}.jpg">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                热门点击
                                <span class="dec">HOT CLICKS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="historical-news">
                                <ul class="ulist mix-ulist">
                                    {% if variety_click_news %}
                                    {% for news in variety_click_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_picture">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">图片新闻</span>
                            <span class="cname">PICTURE NEWS</span>
                        </h2>
                    </div>
                </div>
                <div id="mil-picnews">
                    <div class="pic-list">
                        <ul>
                            {% if picture_news %}
                            {% for news in picture_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="static/images/entertainment/{{ news.imgurls }}.jpg">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_latest">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">最新新闻</span>
                            <span class="cname">LATEST NEWS</span>
                        </h2>
                    </div>
                </div>
                <div id="latest-news">
                    <ul class="ulist" style="margin-right: 150px;">
                        {% if latest_news1 %}
                            {% for news in latest_news1 %}
                                <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if latest_news2 %}
                            {% for news in latest_news2 %}
                                <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
        <table width="1024px" bgcolor="bisque" align="center">		
            <tr height="60px" bgcolor="aquamarine" align="center">      	
                <td style="font-size: 2em;">hh@huahaohh.cn</td>
            </tr>
        </table>
    </div> 

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/gh/751317151/live2d-vv/autoload.js"></script>

    <script type="text/javascript" charset="utf-8"  src="static/js/L2Dwidget.0.min.js"></script>
    <script type="text/javascript" charset="utf-8"  src="static/js/L2Dwidget.min.js"></script>
    <script type="text/javascript">
        L2Dwidget.init({"display": {
            "superSample": 2,
            "width": 200,
            "height": 400,
                "position": "right",
                    "hOffset": 0,
            "vOffset": 0
            }
        });
</script>
</body>
</html>