<!--
 * @Author: 华豪
 * @Date: 2019-11-27 16:01:51
 * @E-Mail: hh@huahaohh.cn
 * @LastEditors: 华豪
 * @LastEditTime: 2019-12-01 16:34:28
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>军事</title>
    <link rel="stylesheet" href="static/css/bgsize.css" />		
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/shutter.css">
    <link rel="stylesheet" href="static/css/sports.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/china.css">
    <!-- <link rel="stylesheet" href="static/css/entertainment.css"> -->
    <link rel="stylesheet" href="static/css/military.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/velocity.js"></script>
    <script src="static/js/shutter.js"></script> 
    <script>
    $(function () {
    $('.shutter').shutter({
        shutterW: 665, // 容器宽度
        shutterH: 340, // 容器高度
        isAutoPlay: true, // 是否自动播放
        playInterval: 3000, // 自动播放时间
        curDisplay: 3, // 当前显示页
        fullPage: false // 是否全屏展示
    });
    });
    </script>

</head>
<body>
    <div class="contaiter">		
        <!--下面是导航菜单-->
        <div class="navigator" >
            <ul id="nav">
                <li><a href="/">首页</a></li> &nbsp;&nbsp;
                <li><a href="china">国内</a></li>&nbsp;&nbsp;
                <li><a href="international">国际</a></li>&nbsp;&nbsp;
                <li><a href="entertainment">娱乐</a></li>&nbsp;&nbsp;
                <li><a href="sports">体育</a></li>&nbsp;&nbsp;
                <li><a href="technology">科技</a></li>&nbsp;&nbsp;
                <li><a href="military" class="selected">军事</a></li>&nbsp;&nbsp;
                <li><a href="internet">互联网</a></li>&nbsp;&nbsp;
            </ul>
        </div>
        <div id="body">
            <div class="column clearfix" id="col_toparea">
            <!--下面是图片轮换-->
                <div class="shutter toparea-carousel">
                    <div class="imgplayer clearfix" id="imgplayer">
                        <div class="shutter-img">
                            {% for img_news in img_news %}
                                <a href="{{ img_news.urls }}" data-shutter-title="{{ img_news.titles }}" target="_blank" style="cursor: pointer;"><img src="{{ img_news.imgurls }}"></a>
                            {% endfor %}
                        </div>
                        <ul class="shutter-btn">
                            <li class="prev"></li>
                            <li class="next"></li>
                        </ul>
                        <!-- 设置默认第一张 -->
                        <div class="shutter-desc">  
                            <a href="{{ img_news.3.urls }}" target="_blank"><p>{{ img_news.3.titles }}</p></a>
                        </div>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                即时新闻
                                <span class="dec">INSTANT NEWS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="instant-news">
                                <ul class="ulist mix-ulist">
                                    {% if instant_news %}
                                    {% for news in instant_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_focus">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">焦点新闻</span>
                                <span class="cname">FOCAL NEWS</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if focal_news1 %}
                            {% for news in focal_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if focal_news2 %}
                            {% for news in focal_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if focal_pic_news %}
                            {% for news in focal_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="{{ news.imgurls }}">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod" id="focus-aside-video">
                        <div class="hd">
                            <h3>
                                军事视频
                                <span class="dec">MILITARY NEWS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="mil-videos">
                                {% if video_news %}
                                {% for news in video_news %}
                                    <div class="topic">
                                        <p class="picture">
                                            <a href="{{ news.urls }}" target="_blank">
                                                <img src="{{ news.imgurls }}">
                                                <span class="play"></span>
                                            </a>
                                        </p>
                                        <p class="title">
                                            <a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a>
                                        </p>
                                    </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_zgjq">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">中国军情</span>
                                <span class="cname">CHINA MILITARY</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if china_military_news1 %}
                            {% for news in china_military_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if china_military_news2 %}
                            {% for news in china_military_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if china_military_pic_news %}
                            {% for news in china_military_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="{{ news.imgurls }}">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod" id="zgjq-aside-news">
                        <div class="hd">
                            <h3>
                                台湾聚焦
                                <span class="dec">TAIWAN FOCUSING</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="thjj-news">
                                <ul class="ulist mix-ulist">
                                    {% if taiwan_focus_news %}
                                    {% for news in taiwan_focus_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_guojijq">
                <div class="l-left-col">
                    <div class="column-title">
                        <div class="column-title-border">
                            <h2>
                                <span class="subtitle">国际军情</span>
                                <span class="cname">WORLD MILITARY</span>
                            </h2>
                        </div>
                    </div>
                    <div class="b-left">
                        <ul class="ulist">
                            {% if international_military_news1 %}
                            {% for news in international_military_news1 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ulist">
                            {% if international_military_news2 %}
                            {% for news in international_military_news2 %}
                                <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="ilist">
                        <ul>
                            {% if international_military_pic_news %}
                            {% for news in international_military_pic_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="{{ news.imgurls }}">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                热门新闻
                                <span class="dec">HOT NEWS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="hot-article">
                                <ul class="olist">
                                    {% if hot_news %}
                                    {% for news in hot_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_jstp">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">军事图片</span>
                            <span class="cname">MILITARY PICTURE</span>
                        </h2>
                    </div>
                </div>
                <div id="mil-picnews">
                    <div class="pic-list">
                        <ul>
                            {% if military_picture_news %}
                            {% for news in military_picture_news %}
                                <li><a href="{{ news.urls }}" target="_blank">
                                    <img src="{{ news.imgurls }}">
                                    <span class="title">{{ news.titles }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_latest">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">最新新闻</span>
                            <span class="cname">LATEST NEWS</span>
                        </h2>
                    </div>
                </div>
                <div id="latest-news">
                    <ul class="ulist" style="margin-right: 150px;">
                        {% if latest_news1 %}
                            {% for news in latest_news1 %}
                                <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if latest_news2 %}
                            {% for news in latest_news2 %}
                                <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
        <table width="1024px" bgcolor="bisque" align="center">		
            <tr height="60px" bgcolor="aquamarine" align="center">      	
                <td style="font-size: 2em;">hh@huahaohh.cn</td>
            </tr>
        </table>
    </div> 
</body>
</html>