<!--
 * @Author: 华豪
 * @Date: 2019-10-25 09:42:46
 * @E-Mail: hh@huahaohh.cn
 * @LastEditors: 华豪
 * @LastEditTime: 2020-04-16 19:05:58
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>体育</title>
    <link rel="stylesheet" href="static/css/bgsize.css" />		
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/shutter.css">
    <link rel="stylesheet" href="static/css/sports.css">
    <link rel="stylesheet" href="static/css/log_reg.css">
    <link rel="icon" href="static/images/logo.ico" type="image/x-icon" />
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/velocity.js"></script>
    <script src="static/js/shutter.js"></script> 
    <script src="static/js/su.js"></script>
    <script src="static/js/heart_click.js"></script>
    <script>
    $(function () {
    $('.shutter').shutter({
        shutterW: 1000, // 容器宽度
        shutterH: 358, // 容器高度
        isAutoPlay: true, // 是否自动播放
        playInterval: 3000, // 自动播放时间
        curDisplay: 3, // 当前显示页
        fullPage: false // 是否全屏展示
    });
    });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($){
        $('body').wpSuperSnow({
        flakes: ['static/images/007.png','static/images/006.png','static/images/004.png','static/images/003.png','static/images/002.png','static/images/001.png'],
        totalFlakes: '150',
        zIndex: '999999',
        maxSize: '30',
        maxDuration: '20',
        useFlakeTrans: false
        });
        });
    </script>
    <style>
        .b-left .ulist {
            margin-top: -1px;
            margin-bottom: 12px;
        }
    </style>
</head>
<body background="/static/images/background.jpg" style="background-attachment: fixed;">
    <div class="contaiter">		
        <!--下面是导航菜单-->
        <div class="navigator" >
            <div style="float: left;">
                <ul id="nav">
                    <li><a href="/">首页</a></li> &nbsp;&nbsp;
                    <li><a href="user">推荐</a></li> &nbsp;&nbsp;
                    <li><a href="china">国内</a></li>&nbsp;&nbsp;
                    <li><a href="international">国际</a></li>&nbsp;&nbsp;
                    <li><a href="entertainment">娱乐</a></li>&nbsp;&nbsp;
                    <li><a href="sports" class="selected">体育</a></li>&nbsp;&nbsp;
                    <li><a href="technology">科技</a></li>&nbsp;&nbsp;
                    <li><a href="military">军事</a></li>&nbsp;&nbsp;
                </ul>
            </div>
            {% if username %}
                <div class="log_reg" style="float: right;">
                    <h3 style="text-align: center;" class="log_out">
                        欢迎您，{{ username }}
                        <a href="log_out">注销</a>
                    </h3>
                    
                </div>
            {% else %}
                <div class="log_reg" style="float: right;">
                    <div style="text-align: center;">
                        <a href="login">登陆</a>
                        <a href="register">注册</a>
                    </div>
                </div>
            {% endif %}
        </div>
        {% csrf_token %}
        <!--下面是图片轮换-->
        <div class="shutter">
            <div class="shutter-img">
                {% for img_news in img_news %}
                    <a href="{{ img_news.urls }}" data-shutter-title="{{ img_news.titles }}" target="_blank" style="cursor: pointer;"><img src="{{ img_news.imgurls }}"></a>
                {% endfor %}
            </div>
            <ul class="shutter-btn">
            <li class="prev"></li>
            <li class="next"></li>
            </ul>
            <!-- 设置默认第一张 -->
            <div class="shutter-desc">  
            <a href="{{ img_news.3.urls }}" target="_blank"><p>{{ img_news.3.titles }}</p></a>
            </div>
        </div>
        <div class="column clearfix">
            <div class="l-left-col">
                <div class="b-left">
                    <hr/>
                    <ul class="ulist">
                        {% if news1 %}
                        {% for news in news1 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <hr/>
                    <ul class="ulist">
                        {% if news2 %}
                        {% for news in news2 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="b-right mod">
                    <h3>体育热搜词</h3>
                    <span>SPORTS HOTWORDS</span><hr/>
                    <ol class="ulist2">
                        {% if news3 %}
                        {% for news in news3 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ol>
                    <div class="schedule">
                        <ul>
                            <li><a href="http://www.baidu.com/s?wd=%D3%A2%B3%AC%C8%FC%B3%CC%B1%ED" target="_blank">英超赛程表</a></li>
                            <li><a href="http://www.baidu.com/s?wd=%CE%F7%BC%D7%C8%FC%B3%CC%B1%ED" target="_blank">西甲赛程表</a></li>
                            <li><a href="http://www.baidu.com/s?wd=%D2%E2%BC%D7%C8%FC%B3%CC%B1%ED" target="_blank">意甲赛程表</a></li>
                            <li><a href="http://www.baidu.com/s?wd=%B5%C2%BC%D7%C8%FC%B3%CC%B1%ED" target="_blank">德甲赛程表</a></li>
                            <li><a href="https://www.baidu.com/s?wd=%E6%AC%A7%E5%86%A0%E8%B5%9B%E7%A8%8B%E8%A1%A8" target="_blank">欧冠赛程表</a></li>
                            <li><a href="http://www.baidu.com/s?wd=NBA%C8%FC%B3%CC%B1%ED" target="_blank">NBA赛程表</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 国际足球 -->
        <div class="column clearfix">
            <div class="l-left-col">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">国际足球</span>
                            <span class="cname">WORLD FOOTBALL</span>
                        </h2>
                        <h2 style="float: right;margin-right: 158px;">
                            <span class="subtitle">明星新闻</span>
                            <span class="cname">STAR NEWS</span>
                        </h2>
                    </div>
                </div>
                <div class="b-left">
                    <ul class="ulist">
                        {% if world_football_news1 %}
                        {% for news in world_football_news1 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if world_football_news2 %}
                        {% for news in world_football_news2 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul> 
                </div>
                <div class="b-right mod2">
                    <ol class="ulist2">
                        {% if star_news %}
                        {% for news in star_news %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
        <!-- 国内足球 -->
        <div class="column clearfix">
            <div class="l-left-col">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">国内足球</span>
                            <span class="cname">CHINA FOOTBALL</span>
                        </h2>
                        <h2 style="float: right;margin-right: 158px;">
                            <span class="subtitle">球员动态</span>
                            <span class="cname">PLAYERS DYNAMIC</span>
                        </h2>
                    </div>
                </div>
                <div class="b-left">
                    <ul class="ulist">
                        {% if china_football_news1 %}
                        {% for news in china_football_news1 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if china_football_news2 %}
                        {% for news in china_football_news2 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul> 
                </div>
                <div class="b-right mod2">
                    <ol class="ulist2">
                        {% if player_news %}
                        {% for news in player_news %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
        <!-- NBA -->
        <div class="column clearfix">
            <div class="l-left-col">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">NBA</span>
                            <span class="cname">NBA</span>
                        </h2>
                        <h2 style="float: right;margin-right: 158px;">
                            <span class="subtitle">体育视频</span>
                            <span class="cname">SPORTS VIDEO</span>
                        </h2>
                    </div>
                </div>
                <div class="b-left">
                    <ul class="ulist">
                        {% if NBA_news1 %}
                        {% for news in NBA_news1 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if NBA_news2 %}
                        {% for news in NBA_news2 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul> 
                </div>
                <div class="b-right mod2">
                    <div class="bd">
                        <div id="sports-videos">
                            {% if video_news %}
                            {% for news in video_news %}
                                <div class="topic">
                                    <p class="picture">
                                        <a href="{{ news.urls }}" target="_blank">
                                            <img src="{{ news.imgurls }}">
                                            <span class="play"></span>
                                        </a>
                                    </p>
                                    <p class="title">
                                        <a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a>
                                    </p>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CBA -->
        <div class="column clearfix">
            <div class="l-left-col">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">CBA</span>
                            <span class="cname">CBA</span>
                        </h2>
                        <h2 style="float: right;margin-right: 158px;">
                            <span class="subtitle">焦点赛事</span>
                            <span class="cname">FOCAL EVENTS</span>
                        </h2>
                    </div>
                </div>
                <div class="b-left">
                    <ul class="ulist">
                        {% if CBA_news1 %}
                        {% for news in CBA_news1 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if CBA_news2 %}
                        {% for news in CBA_news2 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul> 
                </div>
                <div class="b-right mod2">
                    <ol class="ulist2">
                        {% if focus_events %}
                        {% for news in focus_events %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
        <!-- 综合体育 -->
        <div class="column clearfix">
            <div class="l-left-col">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">综合体育</span>
                            <span class="cname">MORE SPORTS</span>
                        </h2>
                        <h2 style="float: right;margin-right: 158px;">
                            <span class="subtitle">热门文章</span>
                            <span class="cname">HOT ARTICLES</span>
                        </h2>
                    </div>
                </div>
                <div class="b-left">
                    <ul class="ulist">
                        {% if other_sports_news1 %}
                        {% for news in other_sports_news1 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if other_sports_news2 %}
                        {% for news in other_sports_news2 %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul> 
                </div>
                <div class="b-right mod2">
                    <ol class="ulist2">
                        {% if hot_articles %}
                        {% for news in hot_articles %}
                            <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
        <!-- 最新新闻 -->
        <div class="column clearfix">
            <div class="l-left-col">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>
                            <span class="subtitle">最新新闻</span>
                            <span class="cname">LATEST NEWS</span>
                        </h2>
                    </div>
                </div>
                <div id="latest-news">
                    <ul class="ulist" style="margin-right: 150px;">
                        {% if latest_news1 %}
                            {% for news in latest_news1 %}
                                <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if latest_news2 %}
                            {% for news in latest_news2 %}
                                <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        

        <table width="1024px" bgcolor="bisque" align="center">		
             
        </table>
        <div style="float: left;width: 1024px; background-color: bisque;">
           <div style="float: left;margin-left: 100px;">
               <img src="static/images/001.png">
           </div>
           <div style="float: left;margin-left: 230px;margin-top: 50px;">
            <p style="font-size: 2em;">hh@huahaohh.cn</p>
         </div>
         <div style="float: left;margin-left: 200px;">
             <img src="static/images/002.png">
         </div>
            
            <div style="width:300px;margin:0 auto; padding:20px 0;">
                <p style="font-size: 12px;">Copyright © 2019-2020 huahao.All Right Reserved</p>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42028102000161" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="static/images/eba.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42028102000161号</p></a>
                <a target="_blank" href="http://www.beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂ICP备19017946</p></a>
            </div>
        </div>
    </div> 

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/gh/751317151/live2d-vv/autoload.js"></script>

    <script type="text/javascript" charset="utf-8"  src="static/js/L2Dwidget.0.min.js"></script>
    <script type="text/javascript" charset="utf-8"  src="static/js/L2Dwidget.min.js"></script>
    <script type="text/javascript">
        L2Dwidget.init({"display": {
            "superSample": 2,
            "width": 200,
            "height": 400,
                "position": "right",
                    "hOffset": 0,
            "vOffset": 0
            }
        });
    </script>
    <script>
        var token = $('input[name=csrfmiddlewaretoken]').val();
        var aNodes = document.getElementsByTagName("a");
    
        for(var i=0;i<aNodes.length;i++){
            (function(j){
                aNodes[j].onclick = function(){
                    $.ajax({
                        type: "POST",
                        url: "/sport_count",
                        data: {
                            csrfmiddlewaretoken: token,
                            "sport_count": 1
                        },
                        dataType: "json",
                        success: function(data) {
                            console.log("成功");
                        },
                        error: function() {
                            console.log("失败");
                        }
                    });
                }
            })(i)
        }
    </script>
</body>
</html>