<!--
 * @Author: 华豪
 * @Date: 2019-11-27 16:01:51
 * @E-Mail: hh@huahaohh.cn
 * @LastEditors  : 华豪
 * @LastEditTime : 2019-12-31 17:25:38
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>科技</title>
    <link rel="stylesheet" href="static/css/bgsize.css" />		
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/shutter.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/entertainment.css">
    <link rel="stylesheet" href="static/css/technology2.css">
    <link rel="stylesheet" href="static/css/technology.css">
    <link rel="stylesheet" href="static/css/log_reg.css">
    <link rel="icon" href="static/images/logo.ico" type="image/x-icon" />
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/velocity.js"></script>
    <script src="static/js/shutter.js"></script> 
    <script src="static/js/su.js"></script>
    <script src="static/js/heart_click.js"></script>
    <script>
    $(function () {
    $('.shutter').shutter({
        shutterW: 280, // 容器宽度
        shutterH: 221, // 容器高度
        isAutoPlay: true, // 是否自动播放
        playInterval: 3000, // 自动播放时间
        curDisplay: 3, // 当前显示页
        fullPage: false // 是否全屏展示
    });
    });
    function shouji(){
        $("#cell_btn").attr("href", "//detail.zol.com.cn/index.php?c=HighSearch&subcateId=57&isCorp=1&keyword=" + $("#cell_txt").val());
    }
    function diannao(){
        $("#pc_btn").attr("href", "//detail.zol.com.cn/index.php?c=HighSearch&subcateId=16&isCorp=1&keyword=" + $("#pc_txt").val());
    }
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($){
        $('body').wpSuperSnow({
        flakes: ['static/images/007.png','static/images/006.png','static/images/004.png','static/images/003.png','static/images/002.png','static/images/001.png'],
        totalFlakes: '150',
        zIndex: '999999',
        maxSize: '30',
        maxDuration: '20',
        useFlakeTrans: false
        });
        });
    </script>

</head>
<body background="/static/images/background.jpg" style="background-attachment: fixed;">
    <div class="contaiter">		
        <!--下面是导航菜单-->
        <div class="navigator" >
            <div style="float: left;">
                <ul id="nav">
                    <li><a href="/">首页</a></li> &nbsp;&nbsp;
                    <li><a href="user">推荐</a></li> &nbsp;&nbsp;
                    <li><a href="china">国内</a></li>&nbsp;&nbsp;
                    <li><a href="international">国际</a></li>&nbsp;&nbsp;
                    <li><a href="entertainment">娱乐</a></li>&nbsp;&nbsp;
                    <li><a href="sports">体育</a></li>&nbsp;&nbsp;
                    <li><a href="technology" class="selected">科技</a></li>&nbsp;&nbsp;
                    <li><a href="military">军事</a></li>&nbsp;&nbsp;
                </ul>
            </div>
            {% if username %}
                <div class="log_reg" style="float: right;">
                    <h3 style="text-align: center;" class="log_out">
                        欢迎您，{{ username }}
                        <a href="log_out">注销</a>
                    </h3>
                    
                </div>
            {% else %}
                <div class="log_reg" style="float: right;">
                    <div style="text-align: center;">
                        <a href="login">登陆</a>
                        <a href="register">注册</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="body" style="margin-top: 10px;">
            {% csrf_token %}
            <div class="column clearfix" id="col_focus">
                <div class="l-left-col">
                    <!--下面是图片轮换-->
                    <div class="shutter toparea-carousel">
                        <div class="imgplayer clearfix" id="imgplayer">
                            <div class="shutter-img">
                                {% for img_news in img_news %}
                                    <a href="{{ img_news.urls }}" data-shutter-title="{{ img_news.titles }}" target="_blank" style="cursor: pointer;"><img src="{{ img_news.imgurls }}"></a>
                                {% endfor %}
                            </div>
                            <ul class="shutter-btn">
                                <li class="prev"></li>
                                <li class="next"></li>
                            </ul>
                            <!-- 设置默认第一张 -->
                            <div class="shutter-desc">  
                                <a href="{{ img_news.3.urls }}" target="_blank"><p>{{ img_news.3.titles }}</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="mod" id="mod_internet">
                        <div class="hd">
                            <h3>
                                互联网新闻
                                <span class="dec">INTERNET NEWS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="internet_news">
                                <ul class="ulist mix-ulist">
                                    {% if internet_news %}
                                    {% for news in internet_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-middle-col">
                    <div class="middle-focus-news">
                        {% for news1 in middle_news %}
                            <ul class="ulist fb-list">
                            {% for news in news1 %}                 
                                <li>
                                    <a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod">
                        <div class="hd">
                            <h3>
                                科学探索
                                <span class="dec">SCIENCE DISCOVERY</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="kj_news">
                                <ul class="ulist mix-ulist">
                                    {% if science_news %}
                                    {% for news in science_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mod" id="focus-aside-video">
                        <div class="hd">
                            <h3>
                                科技视频
                                <span class="dec">TECHNOLOGICAL VIDEOS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="kj_video">
                                <div class="pic-list">
                                    <ul>
                                        {% if technology_video_news %}
                                        {% for news in technology_video_news %}
                                            <li><a href="{{ news.urls }}" target="_blank">
                                                <img src="{{ news.imgurls }}">
                                                <span class="title">{{ news.titles }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                                <ul class="ulist mix-ulist">
                                    {% if technology_news %}
                                    {% for news in technology_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_yejie">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>业界</h2>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="l-left-col">
                    <div class="mod" id="tongxin_news">
                        <div class="hd">
                            <h3>
                                通信
                                <span class="dec">COMMUNICATION</span>
                            </h3>
                        </div> 
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if communication_news %}
                                {% for news in communication_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="mod" id="news_3g">
                        <div class="hd">
                            <h3>
                                5G
                                <span class="dec">5G</span>
                            </h3>
                        </div> 
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="l-middle-col">
                    <div class="middle-focus-news">
                        {% for news1 in middle_focus_news %}
                            <ul class="ulist fb-list">
                            {% for news in news1 %}                 
                                <li>
                                    <a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod" id="rwgs_news">
                        <div class="hd">
                            <h3>
                                人物公司
                                <span class="dec">FIGURES&COMPANIES</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="rwgs_news_list">
                                <ul class="olist">
                                    {% if company_news %}
                                    {% for news in company_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_shouji">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>手机</h2>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="l-left-col">
                    <div class="mod" id="cell_iphone">
                        <div class="hd">
                            <h3>
                                iPhone
                                <span class="dec">iPhone</span>
                            </h3>
                        </div> 
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if iphone_news %}
                                {% for news in iphone_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="mod" id="cell_android">
                        <div class="hd">
                            <h3>
                                Android
                                <span class="dec">Android</span>
                            </h3>
                        </div> 
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if android_news %}
                                {% for news in android_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="l-middle-col">
                    <div class="middle-focus-news">
                        {% for news1 in shouji_middle_news %}
                            <ul class="ulist fb-list">
                            {% for news in news1 %}                 
                                <li>
                                    <a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod" id="new_cell">
                        <div class="hd">
                            <h3>
                                手机新品
                                <span class="dec">NEW MOBILE PHONE</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if shouji_right_news %}
                                {% for news in shouji_right_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="mod" id="cell_aside_price">
                        <div class="hd">
                            <h3>
                                手机报价排行
                                <span class="dec">PRICE RANKING</span>
                            </h3>
                            <div class="price-search" id="cell_price_search">
                                <input class="price-search-txt" type="text" value="" placeholder="产品或型号" id="cell_txt">
                                <a href="" class="price-search-btn" id="cell_btn" onclick="shouji()" target="_blank">查询</a>
                            </div>
                        </div>
                        <div class="bd">
                            <div id="mobile-price">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_shuma">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>数码产品</h2>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="l-left-col">
                    <div class="mod" id="sm_pbdn">
                        <div class="hd">
                            <h3>
                                平板电脑
                                <span class="dec">PANEL COMPUTER</span>
                            </h3>
                        </div> 
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if panel_computer_news %}
                                {% for news in panel_computer_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="mod" id="sm_ebook">
                        <div class="hd">
                            <h3>
                                电子书
                                <span class="dec">E-BOOK</span>
                            </h3>
                        </div> 
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if E_book_news %}
                                {% for news in E_book_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="l-middle-col">
                    <div class="middle-focus-news">
                        {% for news1 in shuma_middle_news %}
                            <ul class="ulist fb-list">
                            {% for news in news1 %}                 
                                <li>
                                    <a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod" id="sm_new">
                        <div class="hd">
                            <h3>
                                电脑新品
                                <span class="dec">NEW COMPUTER</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if new_computer_news %}
                                {% for news in new_computer_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="mod" id="stock-aside-individua">
                        <div class="hd">
                            <h3>
                                电脑报价排行
                                <span class="dec">PRICE RANKING</span>
                            </h3>
                            <div class="price-search" id="pc_price_search">
                                <input class="price-search-txt" type="text" value="" placeholder="产品或型号" id="pc_txt">
                                <a href="" class="price-search-btn" id="pc_btn" onclick="diannao()" target="_blank">查询</a>
                            </div>
                        </div>
                        <div class="bd">
                            <div id="mobile-price">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_kexue">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>科学</h2>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="l-left-col">
                    <div class="mod" id="kx_yzts">
                        <div class="hd">
                            <h3>
                                宇宙探索
                                <span class="dec">UNIVERSE DISCOVERY</span>
                            </h3>
                        </div> 
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if universe_news %}
                                {% for news in universe_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="mod" id="kx_lskg">
                        <div class="hd">
                            <h3>
                                历史考古
                                <span class="dec">HISTORICAL ARCHAEOLOGY</span>
                            </h3>
                        </div> 
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if history_news %}
                                {% for news in history_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="l-middle-col">
                    <div class="middle-focus-news">
                        {% for news1 in science_middle_news %}
                            <ul class="ulist fb-list">
                            {% for news in news1 %}                 
                                <li>
                                    <a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="l-right-col">
                    <div class="mod" id="KX_VIDEO">
                        <div class="hd">
                            <h3>
                                科学探索视频
                                <span class="dec">SCIENCE DISCOVERY VIDEOS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <div id="kxts_video">
                                <div class="pic-list">
                                    <ul>
                                        {% if science_discovery_video_news %}
                                        {% for news in science_discovery_video_news %}
                                            <li><a href="{{ news.urls }}" target="_blank">
                                                <img src="{{ news.imgurls }}">
                                                <span class="title">{{ news.titles }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                                <ul class="ulist mix-ulist">
                                    {% if science_discovery_news %}
                                    {% for news in science_discovery_news %}
                                        <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mod" id="hot_tophit">
                        <div class="hd">
                            <h3>
                                热门点击
                                <span class="dec">HOT CLICKS</span>
                            </h3>
                        </div>
                        <div class="bd">
                            <ul class="ulist mix-ulist">
                                {% if hot_click_news %}
                                {% for news in hot_click_news %}
                                    <li><a href="{{ news.urls }}" class="title" target="_blank">{{ news.titles }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column clearfix" id="col_latest">
                <div class="column-title">
                    <div class="column-title-border">
                        <h2>最新新闻</h2>
                        <span class="line"></span>
                    </div>
                </div>
                <div id="latest-news">
                    <ul class="ulist" style="margin-right: 150px;">
                        {% if latest_news1 %}
                            {% for news in latest_news1 %}
                                <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ulist">
                        {% if latest_news2 %}
                            {% for news in latest_news2 %}
                                <li><a href="{{ news.urls }}" target="_blank">{{ news.titles }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
        <table width="1024px" bgcolor="bisque" align="center">		
             
        </table>
        <div style="float: left;width: 1024px; background-color: bisque;">
           <div style="float: left;margin-left: 100px;">
               <img src="static/images/001.png">
           </div>
           <div style="float: left;margin-left: 100px;">
               <img src="static/images/002.png">
           </div> 
           <div style="float: left;margin-left: 90px;margin-top: 50px;">
               <p style="font-size: 2em;">hh@huahaohh.cn</p>
            </div>
            <div style="float: left;margin-left: 100px;">
                <img src="static/images/003.png">
            </div>
        </div>
    </div> 

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/gh/751317151/live2d-vv/autoload.js"></script>

    <script type="text/javascript" charset="utf-8"  src="static/js/L2Dwidget.0.min.js"></script>
    <script type="text/javascript" charset="utf-8"  src="static/js/L2Dwidget.min.js"></script>
    <script type="text/javascript">
        L2Dwidget.init({"display": {
            "superSample": 2,
            "width": 200,
            "height": 400,
                "position": "right",
                    "hOffset": 0,
            "vOffset": 0
            }
        });
    </script>
    <script>
        var token = $('input[name=csrfmiddlewaretoken]').val();
        var aNodes = document.getElementsByTagName("a");
    
        for(var i=0;i<aNodes.length;i++){
            (function(j){
                aNodes[j].onclick = function(){
                    $.ajax({
                        type: "POST",
                        url: "/technology_count",
                        data: {
                            csrfmiddlewaretoken: token,
                            "technology_count": 1
                        },
                        dataType: "json",
                        success: function(data) {
                            console.log("成功");
                        },
                        error: function() {
                            console.log("失败");
                        }
                    });
                }
            })(i)
        }
    </script>
</body>
</html>